body,html{
    font-family: Open sans !important;
}
.main_titles{
    font-family: Open Sans;
    color: #69717D;
    font-size: 16px;
    font-weight: bold;
}
.db_page_title{
    padding-left: 8px;
    padding-bottom: 10px;
}
#db_icon{
    color: #69717D;
    font-size: 20px;
    margin-top:-8px;
    margin-bottom: 10px; 
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: -23px;
}

#db_top_bar{
    background-image: linear-gradient(to right, white, #f8f8f8);
    width: 100%;   
}

.MuiDrawer-paperAnchorLeft{
    background-color: #69717D !important;
}
.left_dropdown_btn{
    position: absolute;
    bottom: 10px;
    z-index: 2000;
    margin-left: 20px;
    flex-wrap: wrap;

}
.leftbar_closebtn{
    float: right;
}

.manage-db-table{
    border: 1px solid #BD4951;
}

.table_head{
    vertical-align: middle;
    background-color: #BD4951;
    font-family: Open sans;
    color: #fff;
}

.table_head tr th{
    border-bottom: none !important;
    line-height: 20px !important;
    overflow: hidden;
    text-align: left;
    font-size: 13px;
    padding: 4px 10px !important;
}

.table_body{
    line-height: 1px;
    font-size: 10px;
    color: #555555;
}

.table_body tr td{
    line-height: 8px !important;
    text-align: left;
    vertical-align: middle !important;
    overflow: hidden;
    font-size: 13px;
    border-top: none !important;
    padding: 4px 10px !important;
}

.table_body tr:hover {
    background-color: #eff4fc;
    cursor: pointer;
}

.table_body tr:nth-child(even){
    background : #e0eaf9;
}

.addDbBtn{
    margin-bottom: -48px;
    margin-right: 10px;
    margin-left: 6px;
    float: right;
    margin-top: -10px;
}

.deleteconfirmpopup{
    margin: 170px;
}

#account_button{
    margin-top: -28px !important;
    padding: 5px 24px !important;
}

.testconnbtn{
    margin-right: 9px;
    color: #fff;   
}

.testconnbtn:hover{
    color: #fff !important;
}

.submitbtn{
    color: #fff;
}

.submitbtn:hover{
    color: #fff !important;
}

.backbtn{
    padding-right: 9px;
}

.backbtnbackgroundcolor{
    background-color: #69717D;
    border-color: #69717D;
    color: #fff;
    font-family: Open sans !important;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    width: 121px;
    height: 31px;
}

.backbtnbackgroundcolor:hover,
.backbtnbackgroundcolor:active{
    background-color: #69717D !important;
    color: #fff !important;
    border: #69717D !important;
}

.deleteconfirmpopupbox{
    margin-left: 1rem;
    margin-top: 12.5%;
}

.deleteconfirmpopupfieldtext{
    padding: 5px 16px;
}

.deleteconfirmpopupfieldtitle{
    color: #69717D;
    font-weight: bold;
}

.popboxheader{
    border-bottom: none;
}

.popboxfooter{
    border-top: none;
}

.nobtnbgcolor{
    background-color: #69717D;
    color: #fff;
    border: #69717D;
    font-family: Open sans !important;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    width: 121px;
    height: 31px;
}

.nobtnbgcolor:hover,
.nobtnbgcolor:active{
    background-color: #69717D !important;
    color: #fff !important; 
}

.switchprojectpopbox{
    margin-left: 1rem;
    margin-top: 5%;
}

.switchprojectpopboxheader{
    margin-top: 0px;
    margin-left: 0px;
    border-bottom-width: 0px;
}

.switchprojectpoptitle{
    color: #69717D;
    font-weight: bold;
}

.editbox{
    margin-left: -57px;
    width: 109%;
}

.selectlabel{
    font-size: 14px;
    margin-left: 22px;
    margin-top: 6px;
    font-weight: none !important;
}

.savebtn{
    margin-left: 0px;
    margin-right: 43px;
    margin-top: 4px;
    color: #fff;
}

.savebtn:hover{
    color: #fff;
}

.button-colors{
    background-color: #BD4951 !important;
    border-color: #BD4951 !important;
    color: #fff;
    font-family: Open sans !important;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    width: 121px;
    height: 31px;
}
