body,html{
    font-family: Open sans !important;
}
.main_titles{
    color: #69717D !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

.sub_title{
    color: #69717D !important;
    font-size: 15px;
    font-weight: bold;
}

.other-titles{
    color: #69717D;
    font-size: 13px !important;
    font-family: Open sans !important;
    font-weight: 500 !important;
}

.sign-upbtn{
    float: right;
}

.loginpanelhead{
    margin-left: 89px;
    margin-top: -47px;
    margin-right: -87px;
}

.loginformhead{
    background-color: #BD4951 !important;
    color: #fff !important;
}

.logineditbox{
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff !important;
}
.usericon2{
    font-size: 20px;
    color: #69717D;
    margin-top: 0px;
}

.editicon2{
    color: rgb(105, 105, 105);
    font-size: 23px;
    margin-left: 9px;
}

.maillabel {
    position: absolute;
    margin-left: 43%;
    margin-top: 8px;

}

.maillabel1 {
    margin-left: 48%;
    margin-top: 20px;
}

.usernamelabel {
    margin-top: -21px;
    margin-bottom: 10px;
    margin-left: 16px;
}

.userroles{
    margin-top: 6px;
    font-size: 16px;
    margin-left: 16px;
}

.usermanagetitle2{
    position: absolute;
    margin-top: -2px;
    margin-left: 7px;
}

.statusPlayIcon{
    color: #69717D !important;
}
.statussmalltable{
    color: #69717D !important;
}

.farfa-sticky{
    color: #69717D;
}

.db_page_title{
    padding-left: 8px;
    padding-bottom: 10px;
}
#db_icon{
    color: #69717D;
    font-size: 20px;
    margin-top:-2px;
    margin-bottom: 10px; 
}

.cursorhover{
    cursor: pointer;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: -23px;
}

#db_top_bar{
    background-image: linear-gradient(to right, white, #f8f8f8);
    width: 100%;   
}

.MuiDrawer-paperAnchorLeft{
    background-color: #69717D !important;
}
.left_dropdown_btn{
    position: fixed;
    bottom: 10px;
    z-index: 2000;
    margin-left: 20px;
    flex-wrap: wrap;

}

.usericon{
    margin-left: -4px;
}

#dashbcolor:hover{
    color: #fff !important;
}

#dashbcolor{
    color: #fff !important;
}

.leftbar_closebtn{
    float: right;
}

.ChevronLeftIconcolor{
    color: #fff !important;
}

.manage-db-table{
    border: 1px solid rgb(32, 31, 31,25%);
}

.table_head{
    vertical-align: middle;
    background-color: #BD4951;
    color: #fff;
}

.table_head tr th{
    border-bottom: none !important;
    line-height: 20px !important;
    overflow: hidden;
    text-align: left;
    font-size: 13px;
    padding: 4px 10px !important;
}

.table_body{
    line-height: 1px;
    font-size: 10px;
    color: #555555;
}

.table_body tr td{
    line-height: 8px !important;
    text-align: left;
    vertical-align: middle !important;
    overflow: hidden;
    font-size: 13px;
    border-top: none !important;
    padding: 4px 10px !important;
}

.table_body tr:hover {
    background-color: #eff4fc;
    cursor: default; 
}

.table_body tr:nth-child(even){
    background : #c5d8f5b4;
}

.addDbBtn{
    margin-bottom: -48px;
    margin-right: 10px;
    margin-left: 6px;
    float: right;
    margin-top: -10px;
}

.deleteconfirmpopup{
    margin: 170px;
}

.account_button{
    margin-top: -28px !important;
    padding: 5px 24px !important;
}

.testconnbtn{
    margin-right: 9px;
    color: #fff;   
}

.testconnbtn:hover{
    color: #fff !important;
}

.submitbtn{
    color: #fff;
}

.submitbtn:hover{
    color: #fff !important;
}

.backbtn{
    padding-right: 9px;
}

.backbtnbackgroundcolor{
    background-color: #69717D;
    border-color: #69717D;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    width: 121px;
    height: 31px;
}

.backbtnbackgroundcolor:hover,
.backbtnbackgroundcolor:active{
    background-color: #69717D !important;
    color: #fff !important;
    border: #69717D !important;
}

.deleteconfirmpopupbox{
    margin-left: 1rem;
    margin-top: 12.5%;
}

.deleteconfirmpopupfieldtext{
    padding: 5px 16px;
}

.editpanelhead{
    background-color: #BD4951 !important;
    color: #fff !important;
}

.popboxheader{
    border-bottom: none;
}

.popboxfooter{
    border-top: none;
}

.nobtnbgcolor{
    background-color: #69717D;
    color: #fff;
    border: #69717D;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    width: 121px;
    height: 31px;
}

.nobtnbgcolor:hover,
.nobtnbgcolor:active{
    background-color: #69717D !important;
    color: #fff !important; 
}

.switchprojectpopbox{
    margin-left: 1rem;
    margin-top: 5%;
}

.switchprojectpopboxheader{
    margin-top: 0px;
    margin-left: 0px;
    border-bottom-width: 0px;
}

.editbox{
    margin-left: -30px;
    width: 109%;
}

.cancelbtn{
    margin-top: 4px;
    color: #fff !important;
    margin-right: 10px;
    border-color: #69717D !important;
}

.cancelbtn:hover{
    color: #fff !important;
}

.selectlabel{
    font-size: 14px;
    margin-left: 22px;
    margin-top: 6px;
    font-weight: none !important;
}

.savebtn{
    margin-left: 0px;
    margin-right: 16px;
    margin-top: 4px;
    color: #fff;
}

.savebtn:hover,
.savebtn:active{
    color: #fff !important;
}

.passw_chng_panel_margin{
    margin-left: 45px;
    margin-right: -20px;
    margin-top: -53px;
}

.chgpasswtable{
    background-color: #BD4951 !important;
    color: #fff !important;
}

.changepasswbackbutton{
    float: left;
    margin-left: 190px;
    color: #fff !important;
}

.changepasswbackbutton:hover{
    color: #fff;
}

.chngpasswbtn{
    float: right;
}

.chnageorglabel{
    font-size: 14px;
    margin-left: -2px;
    margin-top: 6px;
    font-weight: 100 !important;
    color: #69717D !important;
}

.chngorgeditbox{
    width: 104%;
    margin-left: -13px;
    border-radius: 4px
}

.chngorgsavebtn{
    margin-right: 12px;
}

.closebtn{
    color: #fff !important;
    margin-right: 9px;
}

.closebtn:hover{
    color: #fff!important;
}

.chngorgsavebtn:hover,
.chngorgsavebtn:active{
    color: #fff !important;
}

.accesstknheader{
    background-color: #69717D !important;
    color: #fff !important;
}

.panelheight{
    margin-bottom: 10px !important;
    margin-top: -13px !important;
}

.needTokeneditbox{
    width: 40%;
    color: #000;
    margin-left: 18px; 
}    

.generatetokenbackbutton{
    float: left;
}

.generatetokenbackbutton:hover{
    color: #fff !important;
}

.generatetokenbutton{
    margin-left: 9px;
}

.msginline{
    display: inline;
}

.usermanagelogo{
    color: #69717D;
    color: #69717D;
    font-size: 20px;
    margin-right: 10px;
}

.manageuserrolestable{
    border: 1px solid rgb(32, 31, 31,25%);
    vertical-align: middle;
    margin-top: 21px;
    width: 60%;
}

.hovercolor tr:hover {
    background-color: #eff4fc;
    cursor: default; 
}

.hovercolor tr:nth-child(even){
    background : #c5d8f5b4;
}

.hovercolor tr td{
    line-height: 8px !important;
    text-align: left;
    vertical-align: middle !important;
    overflow: hidden;
    font-size: 13px;
    border-top: none !important;
    padding: 4px 10px !important;
}

.manageuserrolestablehead{
    color: #fff;
    background-color: #BD4951;
}

.manageuserrolestablehead th{
    border-bottom: none !important;
    padding: 4px 10px !important;
}

.usermanagetitle{
    color: #69717D;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1px;
    margin-left: 16px;
}

.userbackbtn{
    background-color: #69717D !important;
    border-color: #69717D;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    width: 121px;
    height: 31px;
    margin-right: 8px !important;
    padding: 0;
}

.userbackbtn:hover,
.userbackbtn:active{
    border-color: #69717D;
    background-color: #69717D;
}

.submailtitle{
    margin-bottom: 12px;
    margin-left: 16px;
}

.minuscirclecolor{
    color: #69717D !important;
}

.plusCircle{
    margin-top: 16px;
}

.button-colors{
    background-color: #BD4951 !important;
    border-color: #BD4951 !important;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    width: 121px;
    height: 31px;
}

.backbutton_colors{
    background-color: #69717D !important;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    width: 121px;
    height: 31px;
}

.update-data-profiling-title{
    margin-top: 1px;
    margin-left: 8px;
}

.profileicon2{
    color: #69717D;
    margin-top: -10px;
    position: absolute;
}

.tableheaderborder{
    border-bottom: none;
}

.editcaselabe{
    margin-left: 21px;
    padding-top: 0px;
}

.sublabelmargin{
    margin-left: 7px;
    font-weight: 300px;
}

.editclosebtn{
    float: right;
    margin-right: -126px;
    border: none;
    color: #fff !important;
    margin-bottom: 20px;
}

.viewclosebtn{
    margin-left: -128px;
    color: #fff !important;
    border: none;
}

.viewclosebtn:hover,
.viewclosebtn:active{
    color: #fff !important;
}

.editclosebtn:hover,
.editclosebtn:active{
    color: #fff !important;
}

.tablefooterborder{
    border-top: none;
    /* display: none; */
}

.viewbackbtn{
    margin-left: 162px;
    color: #fff !important;
    /* float: right; */
}

.viewbackbtn:hover,
.viewbackbtn:active{
    color: #fff !important;
}

.tablecontent{
    padding: 15px;
    margin-left: 26px;
    margin-right: 26px;
}

.editboxmargin{
    margin-left: 83px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.goeditbtn{
    float: right;
    margin-right: -258px;
    color: #fff !important;
}

.updatebtnmargin{
    float: right;
    margin-right: 0px;
    color: #fff;
}

.goeditbtn:hover,
.goeditbtn:active{
    color: #fff !important;
}

.updatebtnmargin:hover,
.updatebtnmargin:active{
    color: #fff !important;
}

.browse-txt {
    height: 29px;
    width: 301px;
    margin-right: 10px;
    margin-top: 2px;
    margin-left: -50px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.brows-btn{
    margin-top: -10px;
    margin-bottom: 25px;
}

.uploadbtn{
    margin-right: 10px;
}

.uploadicon{
    font-size: 20px;
    color: #69717D;
    margin-top: -2px;
}

.updateandexcbtn{
    margin-right: 0px;
    width: 144px !important;
}

.suiteditbox{
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dataprofilingtitle{
    position: absolute;
    margin-top: -8px;
    margin-left: 30px;
}

.selectcaselabel{
    margin-left: 7px;
    margin-top: 5px;
    font-weight: 200;
}

.manageConnectionLabel{
    border-top: none !important;
    color: #69717D;
    font-weight: 200;
}

.manageconnectionsavebtn{
    margin-right: 12px;
}

.selectcaselabel2{
    margin-left: 7px;
    font-weight: 200;
}

.panelheadborder{
    border-bottom: none !important;
}

.changeconnpanelheadborder{
    border-top: none !important;
}

.selectconnectiontype{
    margin-left: 11px;
    font-weight: 200;
}

.selectconnectioneditbox{
    margin-top: -7px;
    margin-top: 10px;
}

.selectconnectioneditbox1{
    margin-top: -9px;
}
.textarea1{
    width: 100%;
    border-radius: 3px;
    resize: vertical;
}

.raidolabel{
    font-size: 12px !important;
    margin-left: 10px;
}

.radiobtnmargin{
    margin-right: 180px;
}

.footertable{
    border: none;
}

.selecteditbox{
    width: 95%;
}

.selectconnection {
    width: 97% !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-weight: 200 !important;
    margin-left: -59px;
}
.profileicon{
    position: absolute;
    background-color: #fff;
    color: #69717D;
    margin-top: -8px;
    margin-left: -2px;
    margin-bottom: 10px;
}

.playicon{
    color: #69717D;
}

.playicon:hover{
    color: #69717D !important;
}

.switchprojectbtn{
    margin-top: -20px;
    margin-bottom: 10px;
}

/* Quality index */

.QLindex-title{
    margin-left: -41px;
    margin-top: -2px;
}

.QLicon{
    color: #69717D;
    font-size: 20px;
    position: absolute;
    margin-left: -71px;
    margin-top: 2px;
}

.panelbg{
    background-color: #eaebed!important;   
}

.paneltopmargin{
    width: 100%;
    margin-top: -22px;
}

.paneltop{
    margin-top: 28px;
}

.backtablebg{
    background-color: #eaebed;
}
.lname{
    padding: 10px;
    vertical-align: -webkit-baseline-middle;
}